/*==========================RS
Custom CSS Page by Rushi Sinha
RS==========================*/
body {
	margin: 0 auto;
	width: 100%;
	background: black url("../assets/bgwow.jpg") fixed;
	color: white;
}


#playAgain {
	width: 75px;
	height: 30px;
	text-align: center;
	font-weight: bold;
}



.horde {
	background-image: url('../assets/hordeMain.png');
	background-repeat: no-repeat;
	background-position: center;
}



.alli {
	background-image: url('../assets/alliMain.png');
	background-repeat: no-repeat;
	background-position: center; 
}



#alliance {
	color: #64B5F6;
}

#horde {
	color: red;
}

.left-box {
	float: left;
	border: 1px solid white;
	width: 30%;
	height: 500px;
	margin-left: 0px;
}

.right-box {
	float: right;
	border: 1px solid white;
	width: 30%;
	height: 500px;
	margin-right: 0px;
}


#chat-space {
	width: 100%;
	height: 367px;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

input:focus::-webkit-input-placeholder { color:transparent; }
::-webkit-input-placeholder {
   color: black;
}


ul li:before{ content:"-"; position:relative; left:-5px;}
ul li{ text-indent:-5px; }

.chat-log {
	list-style-type: none;
}


#chat-box {
	font-weight: bold;
	width: 75%;
	height: 115px;
	margin: 2px;
	text-align: center;
	border: 6px solid black;
	outline: none;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.5);
}

#btn {
	font-weight: bold;
	color: black;
 	width: 20%;
 	height: 115px;
 	border: 1px solid black;
 	margin: 0 auto;
 	outline: none;
 	background-color: white;
 	font-size: 16px;
}

#btn:hover {
	background-color: black;
	color: white;

}
/*====================RS
General CSS For the Page
RS====================*/




a {
	margin: 0 auto;
	text-align: center;
}


h1 {
	font-size: 54px;
	text-align: center;
	color: white;
}


/*======================================RS
ID Specific CSS for Rules Text Show / Hide
RS======================================*/

#show:hover {
	color: black;
}

#show {
	color: white;
	text-decoration: none;
}

#r1_a:hover {
	color: gray;
}


#r1_a {
	text-decoration: none;
	color: white;
}

/*=====================RS
CSS for the Container Div
RS=====================*/


#square-container {
	margin: 0 auto;
	width: 464px;
	height: 456px;
}


/*===================RS
Styling for the Squares
RS===================*/

.slots {
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 1px solid #CDDC39;
	margin: 0 auto;
/*	background-color: transparent;
	vertical-align: top;*/
	font-size: 170px;
	font-weight: bold;
	color: #64FFDA;
}

/*=========RS
Score Styling
RS=========*/
.score-left {
	width: 420px;
	margin: 10px;
	display: inline-block;
	margin-left: 475px;
}



.score-right {
	width: 420px;
	margin: 10px;
	display: inline-block;
	margin-right: 475px;
}

.lineUp {
	width: 420px;
	font-weight: bold;
	font-size: 28px;
	color: #A5D6A7;
	margin: 10px;
	text-align: center;
	display: inline;
}

#oScore {
	color: #E64A19 ;
}

#xScore {
	color: #E64A19;
}



.slots {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

/*======RS
End of CSS
RS======*/