<!--=======================================================================================RS
This is the Webpage for Tic Tac Toe [An interactive Multiplayer Game hosted through Firebase]
RS========================================================================================-->

<!DOCTYPE html>
<html ng-app="ttt">
<head>
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Tic Tac Toe</title>

<!--=========================================================================RS
Below are the Script tags for linking Angular.Js / App.JS / Controller.JS files
RS==========================================================================-->


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>

</head>
<body ng-controller="TttController as tcon">
	<h1><span id='alliance'>Alliance </span>|| A-Tac ||<span id='horde'> Horde</span></h1>



	<div class='left-box'>

	</div>
	<div class='right-box'>
		<div id='chat-space' overflow-y: scroll>
			<ul>
				<li class='chat-log' ng-repeat='todo in tcon.chatLog'>
					{{todo.chat}}
				</li>
			</ul>

		</div>
	<form ng-submit='tcon.chatter()'>
		<input id='chat-box' type='text' placeholder='Chat With Your Opponent....' ng-model='tcon.text'>
		<input type='submit' id='btn' value='Send'>
	</form>

	</div>




<div id="container">

<!--=================================================================RS
Below are the Div and A tags for Showing / Hiding the Rules of the Game
RS==================================================================-->


<!--==================================================================RS
Below are the Div tags for all the squares where the X and O will appear
RS===================================================================-->


	<div id='square-container'>
		<!-- <a id="show" onclick="showReview('r1'); return false;" href="#">Show Rules of the Game.</a>
		<div id="r1_f" style="display:none;">
			<a href="#" id="r1_a" onclick="hideReview('r1'); return true;" >These are the rules of the game you have to 
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<br>Click to make the Rules disapear</a>
		</div>

		<br>
		<br> -->



		<div class="animated slots" ng-repeat="slot in tcon.slots" ng-click="tcon.makeMove($index)" ng-class='{slots: tcon.number, alli: slot.allianceSlot, horde: slot.hordeSlot }' >



		</div> <!-- End of slots div with ng-repeat -->
	</div> <!-- End of Square Container Grid -->
	

	<br>
	<br>
	<br>

<!--============================================================RS
Below are the Div tags for Showing and Tracking the Number of Wins
RS=============================================================-->

	<div class="lineUp">
		<div class="score-left">Alliance Wins : <span id='xScore'>{{tcon.allianceScore}}</span></div>
		<button id='playAgain'>Play Again</button> 
		<div class="score-right">Horde Wins : <span id='oScore'>{{tcon.hordeScore}}</span></div>
		<hr>
		<br>
		<div class='radio'>
			<iframe src="http://tunein.com/embed/player/s49632/" style="width:500px;height:100px;" scrolling="no" frameborder="no"></iframe>
		</div>
	</div>
	<hr>
</div> <!-- end container div -->



</body>
</html>